<h1>Cashflows#index</h1>
<p>Find me in app/views/cashflows/index.html.erb</p>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<!-- <div id="container-line" style="min-width: 400px; height: 400px; margin: 0 auto"></div> -->

<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Monthly balance: 2011 - Present'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 14 * 24 * 3600000, // fourteen days
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            tooltip: {
                shared: true,
                valuePrefix: '$'
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: [{
                type: 'line',
                name: 'Balance',
                data: [
                  <%= "[Date.UTC(#{(@data[0][0] - 2.months).to_s.gsub(/\-/,',')}), 0]," %>
                  <% @data.each do |date, value| %>
                  <%= "[Date.UTC(#{(date - 1.month).to_s.gsub(/\-/,',')}), #{value}]," %>
                  <% end %>
                ]
            }]
        });
    });

// $(function () {
//     $('#container-line').highcharts({
//         chart: {
//         },
//         xAxis: {
//             categories: <%= "['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']".html_safe %>
//         },
        
//         series: [{
//             data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]        
//         }]
//     });
// });
</script>
